.container {
  grid-column: 5/11;
  position: relative;
  min-width: 20rem;
  min-height: 10rem;

  a:link {
    color: #333333;
    text-decoration: none;
  }

  a:visited {
    color: #333333;
  }

  a:hover {
    cursor: pointer;
  }
}

.name {
  font-weight: 600;
}

.role,
.company {
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  color: #bd0000;
}

.phone {
  display: flex;
  align-items: center;
}

.email {
  color: #333333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.3rem;
}

@media screen and (max-width: 1170px) {
  .container {
    grid-column: 3/7;
  }
}

@media screen and (max-width: 833px) {
  .container {
    grid-column: 2/6;
    text-align: center;
  }

  .phone {
    justify-content: center;
  }

  .email {
    justify-content: center;
  }
}
