.container {
  position: relative;
  grid-column: 4/12;
  min-height: 48rem;
}

.usp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  h2 {
    width: 70%;
  }

  p {
    margin: 1rem 0 1rem 0;
  }

  ul {
    list-style-type: none;
  }

  li {
    padding-top: 1.5rem;
  }
}

.red {
  color: #bd0000;
}

.bold {
  font-weight: 800;
}

.divider {
  width: 80px;
  border: 1px solid;
  border-radius: 1px;
  margin: 1.5rem 0 1.5rem 0;
}

@media screen and (max-width: 1170px) {
  .container {
    grid-column: 1/8;
    margin: 1rem 0 0 0;
  }

  .usp h2 {
    margin-top: 3rem;
    width: 80%;
  }
}

@media screen and (max-width: 833px) {
  .container {
    min-height: 56rem;
    grid-column: 2/6;
  }

  .usp {
    width: 80%;

    h2 {
      width: 100%;
      margin: 0;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

@media screen and (max-width: 692px) {
  .container {
    min-height: 64rem;
    grid-column: 2/6;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 572px) {
  .container {
    min-height: 72rem;
    grid-column: 2/6;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 492px) {
  .container {
    min-height: 82rem;
    grid-column: 2/6;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 440px) {
  .container {
    min-height: 90rem;
    grid-column: 2/6;
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 398px) {
  .container {
    min-height: 99rem;
    grid-column: 2/6;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    min-height: 116rem;
    grid-column: 2/6;
    margin-top: 4rem;
  }
}
