@import 'mixins';

.container {
  position: relative;
  grid-column: 4/12;
  min-height: 1rem;
  margin-bottom: $space-margin;
}

.options {
}

.red {
  color: #bd0000;
}

.divider {
  width: 80px;
  border: 1px solid;
  border-radius: 1px;
  margin: 1.5rem 0 1.5rem 0;
}

@media screen and (max-width: 1170px) {
  .container {
    grid-column: 1/8;
  }
}

@media screen and (max-width: 833px) {
  .container {
    grid-column: 2/6;
  }
}
