@import 'mixins';

.container {
  height: 800px;
}

@include widescreen {
  .container {
    height: 800px;
  }
}

@include desktop {
  .container {
    height: 800px;
  }
}

@include tablet {
  .container {
    height: 900px;
  }
}

@include smallscreen {
  .container {
    height: 1000px;
  }
}
