@import 'mixins';

.container {
  height: 750px;
}

@include widescreen {
  .container {
    height: 750px;
  }
}

@include desktop {
  .container {
    height: 720px;
  }
}

@include tablet {
  .container {
    height: 750px;
  }
}

@include smallscreen {
  .container {
    height: 720px;
  }
}
