.container {
  position: relative;
  grid-column: 5/11;
  min-height: 250px;
  margin-bottom: 2rem;

  p {
    margin-bottom: 1rem;
  }
}

.box {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 300;
}

.split {
  flex-direction: row;

  .content {
    width: 70%;
  }
}

.red {
  color: #bd0000;
}

.divider {
  max-width: 6rem;
  border: 1px solid;
  border-radius: 1px;
  margin: 1.5rem 1rem 1.5rem 0;
}

// Using grid to force new row if more then 2 USPs
.usp_container {
  display: inline-grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 5rem;
}

.images_container {
  display: inline-grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 5rem;

  .image {
    width: 100%;
    aspect-ratio: 1;
  }
}

.specificationsList {
  list-style-type: none;
  width: 80%;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    p {
      width: 50%;
      margin: 0;
      font-size: 1rem;
    }

    p:first-of-type {
      font-weight: 800;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 1170px) {
  .container {
    grid-column: 3/7;
  }
}

@media screen and (max-width: 833px) {
  .container {
    grid-column: 2/6;
    text-align: center;
  }

  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 100%;
  }

  .logo {
    width: 100%;
  }

  .flip {
    flex-direction: column-reverse;
  }
}
