@import 'mixins';

.md_48 {
  font-size: 76px !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_box {
  text-align: center;
  width: 19rem;
  height: 22rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  @include roundedCorners;
}

.product_box:hover .material_symbols_outlined {
  color: rgba(255, 255, 255, 1);
}

.product_box:hover {
  background-color: #bd0000;
  color: rgba(255, 255, 255, 1);
  transform: scale(1.03);
  cursor: pointer;
}

.material_symbols_outlined {
  color: rgba(189, 0, 0, 1);
  font-size: 48px;
  padding: 1.5rem 0;
}

.product_box_text {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}

@media screen and (max-width: 1170px) {
  .product_box {
    margin: 1rem 1rem 1.5rem 1rem;
  }
}

@media screen and (max-width: 833px) {
  .product_box {
    min-height: 27rem;

    h3 {
      font-size: 1.2rem;
    }
  }
}
