@import 'mixins';

.md_48 {
  font-size: 76px !important;
}

.products_container {
  position: relative;
  grid-row: 9;
  grid-column: 1/14;
  margin-top: 3rem;
  margin-bottom: 8rem;
  text-align: center;
}

.products_box_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.product_box {
  text-align: center;
  max-width: 249px;
  height: 380px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.5rem 1rem 0 1rem;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  @include roundedCorners;
}

.product_box:visited {
  color: #333333;
}

.product_box:hover .material_symbols_outlined {
  color: rgba(255, 255, 255, 1);
}

.product_box:hover {
  background-color: #bd0000;
  color: rgba(255, 255, 255, 1);
  transform: scale(1.03);
  cursor: pointer;
}

.material_symbols_outlined {
  color: rgba(189, 0, 0, 1);
  font-size: 48px;
  padding: 1.5rem 0;
}

.product_box_text {
  font-size: 14px;
  font-weight: 400;
  margin: 1rem 0;
}

.cta_btn_products {
  background: #bd0000;
  color: #fff;
  display: inline-block;
  padding: 6px 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.cta_btn_products,
.cta_btn_products:before {
  box-sizing: border-box;
}

.cta_btn_products::before {
  border: 2px solid #bd0000;
  content: '';
  display: block;
  height: 140%;
  position: absolute;
  width: 110%;
  top: -7px;
  left: -11px;
  z-index: -1;
}

.cta_btn_products:hover {
  background: #fff;
  color: #bd0000;
}

@media screen and (max-width: 1170px) {
  .products_box_container {
    flex-wrap: wrap;
    width: 73%;
    margin: 3rem auto 0 auto;
  }

  .product_box {
    margin: 1rem 1.5rem 3.5rem 1.5rem;
  }
}

@media screen and (max-width: 833px) {
  .products_box_container {
    flex-wrap: wrap;
    width: 73%;
    margin: 0 auto 0 auto;
  }
}
