.container {
  position: relative;
  grid-column: 4/12;
  min-height: 50rem;
  margin-top: 2vh;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.text {
  width: 100%;
  padding-right: 2rem;
  text-align: left;

  h2 {
    width: 100%;
    font-size: 2rem;
  }

  p {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }

  h4 {
    font-size: 1rem;
  }
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 100%;
  padding-right: 2rem;
  animation: fadeIn 1s;

  .image {
    width: 70%;
  }
}

.red {
  color: #bd0000;
}

.divider {
  margin: 1rem auto 3rem auto;
  width: 80%;
  border: 1px solid;
  border-radius: 1px;
}

.usp_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: row;
  column-gap: 2rem;
}

@media screen and (max-width: 1440px) {
  .container {
    position: relative;
    grid-column: 3/13;
    min-height: 60rem;
    margin-top: 2vh;
  }

  .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .text {
    width: 100%;
    padding-right: 2rem;
    text-align: left;

    h2 {
      width: 100%;
      font-size: 2rem;
    }

    p {
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
    }

    h4 {
      font-size: 1rem;
    }
  }

  .image_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    width: 100%;
    padding-right: 2rem;
    animation: fadeIn 1s;

    .image {
      width: 100%;
    }
  }

  .red {
    color: #bd0000;
  }

  .divider {
    margin: 1rem auto 3rem auto;
    width: 80%;
    border: 1px solid;
    border-radius: 1px;
  }

  .usp_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: row;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    grid-column: 2/8;
    min-height: 106vh;
    margin-bottom: 25vh;
    margin-top: 0;
  }

  .information {
    margin-top: 4vh;
    width: 85%;
  }

  .information h2 {
    margin-top: 3rem;
    width: 100%;
  }

  .image_container {
    .image {
      width: 85%;
    }
  }
}

@media screen and (max-width: 833px) {
  .container {
    grid-column: 2/6;
    min-height: 74vh;
    margin-top: 5rem;
  }

  .information {
    flex-direction: column;
    width: 85%;
  }

  .information h2 {
    width: 100%;
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .image_container {
    width: 70%;
    height: 100%;
    margin: 2rem auto 2rem auto;
    padding: 0;
  }

  .text {
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .container {
    grid-column: 1/7;
    min-height: 90vh;
  }

  .usp_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-column: 1/7;
    min-height: 100vh;
  }

  .usp_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: row;
  }

  .information {
    width: 80%;
    margin-top: 10vh;
  }
}

@media screen and (max-width: 375px) {
  .container {
    grid-column: 1/7;
    min-height: 132vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
